{% extends "base.html" %}

{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Receipe</h2>
        <div class="mb-3">
            <label class="form-label">Receipe Name</label>
            <input name="receipe_name" required type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Receipe Description</label>
            <textarea name="receipe_description" required class="form-control"></textarea>
        </div>

        <div class="mb-3">
          <label  class="form-label">Receipe Image</label>
          <input name="receipe_image" type="file" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Add to recepies</button>
    </form>
</div>
<hr>
<div class="mt-5">
    <div class="mx-auto col-6">
        <form>
            <div class="mb-3">
                <label class="form-label">Search Food</label>
                <input name="search" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<table class="table table-striped table-hover mt-5">
    <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
    </tr>
{% for receipe in receipes %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ receipe.receipe_name }}</td>
        <td>{{ receipe.receipe_description }}</td>
        <td><img src="/media/{{ receipe.receipe_image }}/" style="height: 100px"></td>
        <td>
            <a href="/delete-receipe/{{receipe.id}}/" class="btn btn-danger">Delete</a>
            <a href="/update-receipe/{{receipe.id}}/" class="btn btn-success">Update</a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}