{% extends "base.html" %} 

{% block title %} home {% endblock title %} 

{% block content %}
<h1>Available Items</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Size</th>
      <th scope="col">Discripiton</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    
    {% for item in items %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>
        {{ item.name }} <br />
        <img src="/media/{{ item.image }}/" style="height: 100px" />
      </td>
      <td>
        <p>price: {{ item.price }}</p>
        <p>discount: {{ item.discount }}</p>
      </td>
      <td>{{ item.size }}</td>
      <td>{{ item.discription }}</td>
      <td>
        <a class="btn btn-danger" href="/delete-item/{{item.id}}/">Delete</a>
        <a class="btn btn-primary" href="/update-item/{{item.id}}/">Update</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
